/* Layout: Standard */

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", "Iosevka Term", Inter, Adwaita,  Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: @bar_bg;
    color: @bar_fg;
}

tooltip {
    background-color: @bar_bg;
    border: 1px solid alpha(@hover_bg, 0.2);
    border-radius: 8px;
}
tooltip label {
    color: @bar_fg;
    text-shadow: none;
}

/* --- Modules: Base --- */
#custom-data-monitor,
#clock,
#custom-clock,
#network,
#custom-todo,
#memory,
#cpu,
#custom-clip,
#custom-snip,
#custom-taskmanager,
#custom-theme-switcher,
#tray,
#custom-power,
#custom-notification,
#custom-launcher {
    background: @module_bg;
    color: @module_fg;
    padding: 0px 10px;
    margin: 2px 2px 2px 2px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#custom-notification {
   padding-left: 6px;
}

#pulseaudio {
    margin-right: 0px;
    padding-right: 8px;
}

#backlight {
    margin-left: 0px;
    padding-left: 8px;
}

#custom-launcher {
    color: @primary;
    font-weight: bold;
}

#tray {
    background: @tray;
}

#custom-power {
    color: @power;
}
#keyboard-state {
    background: transparent;
}

#keyboard-state label.locked {
    background: @special;
    color: @module_fg;
    padding: 0px 10px;
    margin: 2px 2px 2px 2px;
    border-radius: 8px;
}
#network.disconnected,
#network.disabled {
    color: @power;
}

/* --- Hover Effects --- */
#custom-data-monitor:hover,
#clock:hover,
#custom-clock:hover,
#network:hover,
#backlight:hover,
#pulseaudio:hover,
#memory:hover,
#cpu:hover,
#custom-clip:hover,
#custom-snip:hover,
#custom-taskmanager:hover,
#custom-theme-switcher:hover,
#custom-launcher:hover,
#custom-firefox:hover,
#custom-terminal:hover,
#custom-code:hover,
#custom-music:hover,
#custom-thunar:hover,
#custom-notification:hover {
    background: @hover_bg;
    color: @hover_fg;
}

#custom-power:hover {
    background: @power;
    color: @bar_bg;
}

/* --- Taskbar --- */
#taskbar {
    background: @module_bg;
    margin: 2px;
    padding: 0 8px;
    border-radius: 8px;
}

#taskbar button {
    padding: 0 8px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

#taskbar button.active {
    background: alpha(@hover_bg, 0.25);
    border-bottom-color: @hover_bg;
}

#taskbar button:hover {
    background: alpha(@hover_bg, 0.15);
    border-bottom-color: alpha(@hover_bg, 0.65);
}

/* Pending Tasks */
#custom-todo.pending {
    color: @power;
}

@keyframes blink-critical {
    0% {
        background-color: @power;
        color: @bar_bg;
    }
    50% {
        background-color: @module_bg;
        color: @power;
    }
    100% {
        background-color: @power;
        color: @bar_bg;
    }
}
/* Custom launcher & shortcut sizes */
#custom-launcher {
    font-size: 15px;
}
#custom-firefox,
#custom-terminal,
#custom-code,
#custom-music,
#custom-thunar {
    font-size: 14px;
}
